<% cookies[:last_visited] = "profile" %>
<div id="user-show-background" class="container-fluid">
    <div id="profile-row" class="row">
      <div class="col">
        <div id="show-user-profile-container">
          <div id="show-user-profile" class="container">
              <div class="profile-col-headers">
                <i class="fas fa-user-circle fa-5x"></i>
                <br>
                <h2 id="show-user-header-username"><%= current_user.username%></h2>
            </div>
              <div id="user-profile-container">
                <div class="card-body">
                  <p class="class-text">Email: <%= current_user.email%></p>
                  <p class="class-text">City: <%= current_user.city%></p>
                  <p class="class-text">State: <%= current_user.state%></p>
                  <p class="class-text">Bio: <%= current_user.bio%></p>
                </div>

                <div id="profile-sessions-link" class="card-body">
                  <%= link_to "Edit Profile", edit_user_path(current_user), class: "card-link btn btn-secondary" %>

                  <%= link_to "Log Out",({controller: 'sessions', action: 'destroy', method: 'post'}), method: "POST", class: "card-link btn btn-danger" %> 
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="show-user-reviews-container">
          <div id="show-review-profile" class="container">
              <div class="profile-col-headers">
              <i class="fas fa-pen-square fa-5x"></i>
              <h2>All Reviews By User</h2>
            </div>
              <ul class="list-group">
              <% current_user.reviews.each do |review| %>
                <li class="list-group-item">
                    <span class="rated_stars"><%= review.stars %></span><span class="unrated_stars"><%= review.grey_stars %> - </span><%= link_to review.reviewee.name, brewery_path(review.reviewee) %>
                -
                <%= review.content %></li>
                <button id="edit_review_profile_button"><%=link_to "Edit or Delete this Review",edit_review_path(review)%></button>
                <br>
              <% end %>
              </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="show-user-brequeue-container">
          <div id="show-brewqueue-profile" class="container">
              <div class="profile-col-headers">
                <i class="fas fa-list-alt fa-5x"></i>
                <h2>Brewqueue</h2>
              </div>
              <ul class="list-group"
              style="padding-left: 4%">
              <% current_user.brewqueues.each do | brewqueue | %>
                <li class="list-group-item">
                <%=link_to brewqueue.brewery.name, brewery_path(brewqueue.brewery)%> - 
                <%= brewqueue.brewery.city %>, 
                <%= brewqueue.brewery.state %>
                 </li>
                 <button id="edit_review_profile_button"><%= link_to "Remove from BrewQueue", brewqueue, method: "DELETE" %></button>
                 <br>
              <% end %>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>