<h1>My Profile</h1>

<h2>Welcome <%= current_user.username %></h2>
<div>City: <%= current_user.city %></div>
<div>State: <%= current_user.state %></div>
<div>Email: <%= current_user.email %></div>
<div>Bio: <%= current_user.bio %></div>







<button>
  <%= link_to "Edit Profile", edit_profile_path %>
</button>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>