<div id="user-show-background" class="container-fluid">
  <div id="profile-row" class="row">
    <div class="col">
      <div id="show-user-profile-container">
        <div id="show-user-profile" class="container">
            <div class="profile-col-headers">
              <i class="fas fa-user-circle fa-5x"></i>
              <br>
              <h2 id="show-user-header-username"><%= @reviewer.username%></h2>
          </div>
            <div id="user-profile-container">
              <div class="card-body">
                <p class="class-text">Email: <%= @reviewer.email%></p>
                <p class="class-text">City: <%= @reviewer.city%></p>
                <p class="class-text">State: <%= @reviewer.state%></p>
                <p class="class-text">Bio: <%= @reviewer.bio%></p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="show-user-reviews-container">
        <div id="show-review-profile" class="container">
            <div class="profile-col-headers">
            <i class="fas fa-pen-square fa-5x"></i>
            <h2>All Reviews By User</h2>
          </div>
            <ul class="list-group">
            <% @reviewer.reviews.each do |review| %>
              <li class="list-group-item">
                  <span class="rated_stars"><%= review.stars %></span><span class="unrated_stars"><%= review.grey_stars %> - </span><%= link_to review.reviewee.name, brewery_path(review.reviewee) %>
              -
              <%= review.content %></li>
            
              <br>
              
            <% end %>
            </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="show-user-brequeue-container">
        <div id="show-brewqueue-profile" class="container">
            <div class="profile-col-headers">
              <i class="fas fa-list-alt fa-5x"></i>
              <h2>Brewqueue</h2>
            </div>
            <ul class="list-group"
            style="padding-left: 4%">
            <% @reviewer.brewqueues.each do | brewqueue | %>
              <li class="list-group-item">
              <%=link_to brewqueue.brewery.name, brewery_path(brewqueue.brewery)%> - 
              <%= brewqueue.brewery.city %>, 
              <%= brewqueue.brewery.state %>
               </li>
               <br>
            <% end %>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>