<h1>Reviewer : <%= @reviewer.username %></h1>

<div>City: <%= @reviewer.city %></div>
<div>State: <%= @reviewer.state %></div>
<div>Email: <%= @reviewer.email %></div>
<div>Bio: <%= @reviewer.bio %></div>


<h2>All Reviews</h2>
<div><% @reviewer.reviews.each do |review| %></div>

  <div>Brewery: <%= review.reviewee.name %></div>
  <div>Review: <%= review.content %></div>
  <div>Rating: <%= review.rating %></div>
<% end %>
