<%= form_for @review do |f| %>
<%= f.label :rating %>
<!-- <%= f.select :rating, (1..5) %></div> -->
<div class="rating_selection">

<input checked id="review_rating_0" type="radio" value="0" name="review[rating]">
<label for="review_rating_0">
<span>Unrated</span></label> 

<%= f.radio_button :rating, 1 %> 
<label for="review_rating_1">
<span>Rating 1 Star</span></label>

<%= f.radio_button :rating, 2 %> 
<label for="review_rating_2">
<span>Rating 2 Star</span></label>

<%= f.radio_button :rating, 3 %> 
<label for="review_rating_3">
<span>Rating 3 Star</span></label>

<%= f.radio_button :rating, 4 %> 
<label for= "review_rating_4">
<span>Rating 4 Star</span></label>

<%= f.radio_button :rating, 5 %> 
<label for="review_rating_5">
<span>Rating 5 Star</span></label>

</div>

<div><%= f.label :content %>
<%= f.text_area :content, class: "form-control" %></div>
<%= f.hidden_field(:reviewer_id, value: user.id) %>
<%= f.hidden_field(:reviewee_id, value: brewery.id) %>
<%= f.submit "Review", class: "btn btn-secondary", style: "margin-top: 10px;" %>
<% end %>
<br>
<div>
    <br>
<% if @review.content %>
<%= form_tag review_path, method: "DELETE" do %>
    <%= submit_tag "Delete", class: "btn btn-danger" %>
    <% end %>
    <% end %>
</div>