<h1><%= @brewery.name %></h1>
<div><strong>Type: </strong><%= @brewery.brewery_type %></div>
<div><strong>Address:</strong> <%= link_to @brewery.addy, @brewery.maps_address %>
<div><strong>Phone:</strong> <%= @brewery.phone %></div>
<div><strong>Url:</strong> <%= link_to @brewery.website_url, @brewery.website_url %></div>
<div>
    <% @brewery.tags.each do |tag| %>
        <p><%= tag %></p>
    <% end %>
</div>
<br>

<% if !current_user %>
    <button><%= link_to "Login to Review", login_path %></button>
<% else %>
    <% if @user_review %>
        <p><strong>Your Review: </strong> 
            <ul>
            <li><%= pluralize(@user_review.rating,'Star') %> </li>
            <li><%= @user_review.content %></li>
            </ul>
            <%= "Thanks for reviewing #{@brewery.name}!" %>
            <br>
            
            <%= link_to "Edit or Delete Your Review", edit_review_path(@user_review.id) %>
    <% else %>
            <div><strong>Review this Brewery:</strong><br>
                <%= render partial: "shared/review_form", locals: {user: current_user, brewery: @brewery } %>
            </div>
    <% end %>
<% end %>

<br>
<% if @brewery.reviews.length > 0 %>
<h3>All Reviews:</h3>
<div><% @brewery.reviews.each do |review| %>
    <p><strong>Review By: </strong> <%= link_to review.reviewer.username, user_path(review.reviewer) %></p>
    <ul>
        <li><%= pluralize(review.rating,'Star') %> </li>
        <li><%= review.content %></li>
    </ul>
    <% end %>
    <% else %>  
    <div>No one has reviewed this brewery yet. Be the first!</div>
    <% end %>
</div>