<h1>Brewery Details </h1>

<div>Name: <%= @brewery.name %></div>
<div>Type: <%= @brewery.brewery_type %></div>
<div>Street: <%= @brewery.street %></div>
<div>City: <%= @brewery.city %></div>
<div>State: <%= @brewery.state %></div>
<div>Postal Code: <%= @brewery.zip_code %></div>
<div>Country: <%= @brewery.country %></div>
<div>Phone: <%= @brewery.phone %></div>
<div>Url: <%= link_to @brewery.website_url, @brewery.website_url %></div>
<div>
    <% @brewery.tags.each do |tag| %>
        <p><%= tag %></p>
    <% end %>
</div>



