<div id="brewery-show-page-container" class="container-fluid" style="border:10px solid black;">
    <div class="row" style="border: 10px solid white;">
        <div class="col-4" style="border: 10px solid white;">
            <img src="https://images.unsplash.com/photo-1531973819741-e27a5ae2cc7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt=""
            class="img-thumbnail">
        </div>
        <div class="col-8" style="border: 10px solid white;">
            <h1><%= @brewery.name %></h1>

            <p>
                <i class="fas fa-beer"></i>
                <%= @brewery.brewery_type.titleize %>
            </p>

            <p>
                <i class="fas fa-map-marked-alt"></i>
                <%= link_to @brewery.addy, @brewery.maps_address %>
            </p>

            <p>
                <i class="fas fa-phone"></i>
                <%= @brewery.phone_number %>
            </p>
            
            <p>
                <i class="fas fa-mouse"></i>
                <%= link_to @brewery.website_url, @brewery.website_url %>
            </p>

            <div>
                <% if @brewery.reviews.length > 0 %>
                <strong>Average Rating: </strong><%= pluralize(@brewery.average_rating,'Star') %>
                <% end %>
            </div>

            <div>
                <% unless @brewery.num_of_brewqueues == 0 %>
                <strong>Number of times added to BrewQueue: </strong>
                <%= @brewery.num_of_brewqueues %>
                <% end %>
            </div>
            <% unless @brewery.tags.size == 0 %>
                <strong>Tagged As:</strong>
            <ul>
                <% @brewery.tags.each do |tag| %>
                    <li><%= tag.name.titleize %></li>
                <% end %>
                <% end %>
            </ul>
            </div> <br>
        </div>
    </div>

    <div id="review-row" class="row" 
    style="border: 10px solid white">
        <div class="col-4" style="border: 10px solid white;">
            <% if !current_user %>
            <button>
                <%= link_to "Login to Review or Save to BrewQueue", login_path %>
            </button>
                <% else %>
                <% if !current_user.breweries.include?(@brewery) %>
                <% @brewqueue = Brewqueue.new %>
                <%= render partial: "shared/brewqueue_form", locals: {user: current_user, brewery: @brewery } %>
                <% else %>
            <p><strong><%= @brewery.name %> is on Your BrewQueue!</strong></p>
            <button><%= link_to "Remove from BrewQueue", current_user.brewqueues.find_by(brewery:@brewery), method: "DELETE" %></button>
            <br>
            <% end %>
            <br>
            <% if @user_review %>
            <h3 class="form-group">Your Review:</h3>
                <p><strong><%= pluralize(@user_review.rating,'Star') %>:</strong>
                <span class="rated_stars"><%= @user_review.stars %></span><span class="unrated_stars"><%= @user_review.grey_stars %></span></p>
                <strong>Description:</strong>
                <p><%= @user_review.content %></p>
                <p><%= "Thanks for reviewing #{@brewery.name}!" %></p>
            
                <%= link_to "Edit or Delete Your Review", edit_review_path(@user_review.id), class: "btn btn-secondary" %>
                <br>
                <% else %>
            <div><strong>Review this Brewery:</strong><br>
                <%= render partial: "shared/review_form", locals: {user: current_user, brewery: @brewery } %>
            </div>
            <br>
            <% end %>
            <% end %>

        </div>


        <div class="col-8" style="border: 10px solid white;">

            <% if @brewery.reviews.length > 0 %>
            <% if @user_review %>
            <div id="brewery-all-reviews-header">
                <i class="fas fa-edit fa-2x"></i>
                <h3>Other Reviews:</h3>
            </div>
            <% else %>
            <div id="brewery-all-reviews-header">
                    <i class="fas fa-edit fa-2x"></i>
            <h3>Reviews:</h3>
            </div>
            <% end %>
            <% if @user_review && @brewery.reviews.length == 1 %>
           <h5><%="No one else has reviewed #{@brewery.name} yet!"%></h5>
            <% end %>
            <% @brewery.reviews.each do |review| %>
            <% unless review == @user_review %>

        <div><p><strong>Review By: </strong> <%= link_to review.reviewer.username, user_path(review.reviewer) %></p>
            <p><strong><%= pluralize(review.rating,'Star') %>:</strong>
            <span class="rated_stars"><%= review.stars %></span><span class="unrated_stars"><%= review.grey_stars %></span></p>
            <strong>Description:</strong>
            <p><%= review.content %></p>
            <br>
            <% end %>
            <% end %>
            <% else %>  
        <div>No one has reviewed this brewery yet. Be the first!</div>
            <% end %>
        </div>

    </div>
</div>