<div id="home">
  <div class="landing-text">
      <%= image_tag "brewqueue_animated.png" %>
    <!-- <h1 id="landing-header-main">BrewQueue</h1> -->
    <h3 class="lead">Plan your pilgramage to the best taps on the map</h3>

    <%= form_tag(home_path, method: "get", class: 'form-group') do %>
      <%= text_field_tag(:search, params[:search], placeholder: 'Enter a City for Breweries Near You', class: 'search-input') %>
      <%= submit_tag "Find Brew", class: 'btn btn-primary'%>
      <% end %>

  </div> 
</div>

<div class="results-container ">
    <!-- Header which is the City -->
    <% if params[:search] %>

    <% @breweries.each do |brewery| %>
      <div id="search-result">
        <h2 id="brewery-name"><%= link_to brewery.name, brewery_path(brewery) %></h2>
      <ul>
          <li class="search-links">
              <i class="fas fa-beer fa-2x"></i> <%= brewery.brewery_type.titleize %>
          </li>
          <% unless brewery.street.empty? || brewery.state.empty? || brewery.city.empty? || brewery.zip_code.empty? %>
          <li class="search-links">
              <i class="fas fa-map-marked-alt fa-2x" style="padding-right: 2%;"></i><%= link_to brewery.addy, brewery.maps_address %>
          </li>
          <% end %>
          <% unless brewery.website_url.empty? %>
          <li class="search-links">
            <i class="fas fa-mouse fa-2x" style="padding-right: 2%"></i> <%= link_to brewery.website_url, brewery.website_url %>
          </li>
          <% end %>

          <!-- Add to queue button only showing when logged in, can be changed to link_to erb tags  -->
          <div id="search-results-buttons-container">
            <a href="#" class="btn btn-secondary">More Info</a>
            <a id="add-to-queue-btn" class="btn btn-success" href="#" role="button">Add</a>
          </div>
      </ul>
      </div>
  <% end %>
  <% end %>
  
</div>
