<% if @search_style %>
<div id="home_searched">
  <div class="landing-text-searched">
    
<% else %>
<div id="home">
    <div class="landing-text">
  <% end %>
  <%= image_tag "brewqueue_animated.png" %>
  <br>
    <h3 class="lead">Plan your pilgrimage to the best taps on the map</h3>

    <%= form_tag(home_path, method: "get", class: 'form-group') do %>
      <%= text_field_tag(:search, params[:search], placeholder: 'Enter a City for Breweries Near You', class: 'search-input') %>
      <%= submit_tag "Find Brew", class: 'btn btn-primary'%>
      <% end %>

  </div> 
</div>
<%= form_tag brewqueues_path(method: :post) do %>
<div class="results-container ">
    <!-- Header which is the City -->
    <% if params[:search] %>

    <% @breweries.each do |brewery| %>
      <div id="search-result">
        <h2 id="brewery-name"><%= link_to brewery.name, brewery_path(brewery) %></h2>
      <ul>
          <li class="search-links">
              <i class="fas fa-beer fa-2x"></i> <%= brewery.brewery_type.titleize %>
          </li>
          <% unless brewery.street.empty? || brewery.state.empty? || brewery.city.empty? || brewery.zip_code.empty? %>
          <li class="search-links">
              <i class="fas fa-map-marked-alt fa-2x" style="padding-right: 2%;"></i><%= link_to brewery.street, brewery.maps_address %>
          </li>
          <% end %>
          <% unless brewery.website_url.empty? %>
          <li class="search-links">
            <i class="fas fa-mouse fa-2x" style="padding-right: 2%"></i> <%= link_to brewery.website_url, brewery.website_url %>
          </li>
          <% end %>

          <br>
          <div id="search-results-buttons-container" class="row">
            
            <div id="home-more-info" class="col">
              <%= link_to "More Info", brewery_path(brewery), class: "btn btn-secondary" %>
            </div>

            <div id="home-brewque" class="col">
              <% if !current_user %>
              <p><%= link_to "Login to add this brewery to your BrewQueue", login_path %></p>
              <% else %>
              <% if brewery.users.include?(current_user) %>
                <p><strong>This brewery is on your Brewqueue!</strong></p>
              <% else %>
                <!-- edit this one  -->

              <form>
                <label class="checkbox-label">
                  <input class="toggle-input" type="checkbox" name="brewqueue[]" id="brewqueue_" value=<%="#{brewery.id}"%>>
                  <span class="label-text"
                  style="float:left;">
                    <%= "Add to" %>
                  </span>
                </label>
                <span>BrewQueue</span>
              </form>
              <% end %>
              <% end %>
            </div>

          </div>
         <div>
                 
           </div>
      </ul>
      </div>
  <% end %>
  <div id="bq_button">
  <%= submit_tag 'Select Breweries to add to BrewQueue', class:"brewQueue_home_button" %>
</div>
  <% end %>
  <% end %>
  
</div>
