<h1>BrewPilgrim</h1>
<h3>Plan your pilgramage to the best taps on the map</h3>
<%= form_tag(home_path, method: "get") do %>
  <%= text_field_tag(:search, params[:search], placeholder: 'Enter a City for Breweries Near You') %>
  <%= submit_tag "Find Brew" %>
  <% end %>

<% if params[:search] %>
<h1><%= params[:search].titleize %>:</h1>
<% @breweries.each do |brewery| %>
<div class="search-result"><h2><%= link_to brewery.name, brewery_path(brewery) %> </h2>
<ul>
    <li class="search_type">Type: <%= brewery.brewery_type %></li>
    <% unless brewery.street.empty? || brewery.state.empty? || brewery.city.empty? || brewery.zip_code.empty? %>
    <li class="search_address">Address: <%= link_to brewery.addy, brewery.maps_address %></li>
    <% end %>
    <% unless brewery.website_url.empty? %>
    <li class="search_website">Website: <%= link_to brewery.website_url, brewery.website_url %></li>
    <% end %>
</ul>
</div>

<% byebug %>
<% end %>
<% end %>